# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        if a > b:
            return b
        else:
            return a
    else:
        if a > b:
            return a
        else:
            return b

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [20]:
def animal_crackers(text):
    animals= text.split()
    if animals[0][0].lower() == animals[1][0].lower():
        return True
    else:
        return False

In [23]:
# Check
animal_crackers('Levelheaded llama')

True

In [25]:
# Check
animal_crackers('Crazy cangaroo')

True

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [27]:
def makes_twenty(n1,n2):
    if (n1 == 20) or (n2 == 20) or (n1 + n2 == 20):
        return True
    else:
        return False

In [31]:
# Check
makes_twenty(0,10)

False

In [34]:
# Check
makes_twenty(11,200)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [54]:
def old_macdonald(name):
    position = 0
    new_name = ""
    for letter in name:
        if position == 0 or position == 3:
            letter = letter.upper()
        new_name = new_name + letter
        position = position +1
    return new_name

In [55]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [94]:
def master_yoda(text):
    list_words = text.split()
    count = len(list_words) -1
    new_text=""
    while (count >= 0):
        new_text = " ".join([new_text, list_words[count]])
        count = count -1
    return new_text

In [95]:
# Check
master_yoda('I am home')

' home am I'

In [96]:
# Check
master_yoda('We are ready')

' ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [98]:
def almost_there(n):
    if (n >= 90 and n <= 110) or (n >= 190 and n <= 210):
        return True
    else:
        return False

In [99]:
# Check
almost_there(104)

True

In [100]:
# Check
almost_there(150)

False

In [101]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [113]:
def has_33(nums):
    count= 0
    print(count)
    while count < len(nums)-1:
        if nums[count] == 3 and nums[count+1] == 3:
            return True
        count = count + 1
    return False

In [115]:
# Check
has_33([1, 3, 3])

0

True

In [116]:
# Check
has_33([1, 3, 1, 3])

0

False

In [118]:
# Check
has_33([3, 3, 3])

0

True

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [120]:
def paper_doll(text):
    new_text=""
    for letter in text:
        new_text = new_text+(letter*3)
    return new_text

In [121]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [122]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [143]:
def blackjack(a,b,c):
    sum = a + b + c
    if (a== 11 or b == 11 or c ==11) and sum > 21:
        sum = sum - 10
    if sum <= 21:
        return sum
    else:
        return "BUST"

In [144]:
# Check
blackjack(5,6,7)

18

In [145]:
# Check
blackjack(9,9,9)

'BUST'

In [146]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [168]:
def summer_69(arr):
    total = 0
    switch = 0
    if arr[0] == 0:
        return 0
    else:
        for value in arr:
            if value == 6:
                switch = 1
            elif value == 9:
                switch = 0
                continue
            if switch == 0:
                total = total + value
    return (total)

In [169]:
# Check
summer_69([1, 3, 5])

9

In [171]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [170]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [180]:
def spy_game(nums):
    bingo = ""
    for number in nums:
        if number == 0 or number == 7:
            bingo = bingo + str(number)
    if "007" in bingo:
        return True
    return False

In [181]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [182]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [183]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [76]:
def count_primes(num):
    number = num
    count = 2
    total_num=0
    while number >= count:
        if number == count:
            print("Prime {}".format(number))
            count =2
            number = number -1
            total_num= total_num +1
            continue
        if number % count ==0 and number != count:
            count =2
            number = number -1
           # print("Break")
            continue
        count = count +1
    return(total_num)

In [78]:
# Check
count_primes(100)

Prime 97
Prime 89
Prime 83
Prime 79
Prime 73
Prime 71
Prime 67
Prime 61
Prime 59
Prime 53
Prime 47
Prime 43
Prime 41
Prime 37
Prime 31
Prime 29
Prime 23
Prime 19
Prime 17
Prime 13
Prime 11
Prime 7
Prime 5
Prime 3
Prime 2

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [115]:
def print_big(letter):
    dic = {
        'pat01':'  *  \n',
        'pat02':' * * \n',
        'pat03':'*****\n',
        'pat04':'*   *\n',
        'pat05':'*****\n',
        'pat06':'**** \n',
        'pat07':'*    \n'
    }
    if letter == 'a': 
        big = dic['pat01'] + dic['pat02'] + dic['pat03'] + dic['pat04'] + dic['pat04']
    if letter == 'b':
        big = dic['pat06'] + dic['pat04'] + dic['pat06'] + dic['pat04'] + dic['pat06']
    if letter == 'c':
        big = dic['pat03'] + dic['pat07'] + dic['pat07'] + dic['pat07'] + dic['pat03']
    if letter == 'd':
        big = dic['pat06'] + dic['pat04'] + dic['pat04'] + dic['pat04'] + dic['pat06']
    if letter == 'e':
        big = dic['pat03'] + dic['pat07'] + dic['pat06'] + dic['pat07'] + dic['pat03']   
    if letter == 'f':
        big = dic['pat03'] + dic['pat07'] + dic['pat06'] + dic['pat07'] + dic['pat07']   
    
    
    print(big)

In [116]:
print_big('f')

*****
*
****
*
*

## Great Job!